@model KetoRecipies.Models.Recipe

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5"><h1>Edit</h1></div>

<div class="container">
    <div class="card-deck">
        <div class="card card mb-1 row">
            <div class="card-body parent col-sm">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ID" type="hidden" value="@Model.ID" class="form-control" required />
                    <input asp-for="Source" type="hidden" class="form-control" value="@Model.Source" required />
                    <input asp-for="UserId" type="hidden" value="@Model.UserId" class="form-control" required />
                    <div class="form-group">
                        <label style="font-size:20px;" asp-for="Type"><span style="color:red;">*</span>Recipe Catagory</label>
                        <select asp-for="Type" class="form-control" required>
                            <option value="" selected disabled>@Model.Type</option>
                            <option>Breakfast</option>
                            <option>Lunch</option>
                            <option>Dinner</option>
                            <option>Side</option>
                            <option>Desert</option>
                            <option>Snack</option>
                            <option>Drink</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Label" class="control-label"><h4>Name of Dish</h4></label>
                        <input asp-for="Label" class="form-control" value="@Model.Label" required />
                        <span asp-validation-for="Label" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ingridients" class="control-label"><h4>Ingridients</h4></label>
                        <textarea asp-for="Ingridients" class="form-control textEdit simple-editor" value="@Model.Ingridients" required></textarea>
                        <span asp-validation-for="Ingridients" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Instructions" class="control-label"><h4>Instructions</h4></label>
                        <textarea asp-for="Instructions" class="form-control textEdit simple-editor" value="@Model.Instructions" required></textarea>
                        <span asp-validation-for="Instructions" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Yield" class="control-label"><h4>How many servings will this recipe make?</h4></label>
                        <input type="number" asp-for="Yield" class="form-control" value="@Model.Yield" required />
                        <span asp-validation-for="Yield" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalTime" class="control-label"><h4>How many minutes to prepare dish?</h4></label>
                        <input type="number" asp-for="TotalTime" class="form-control" value="@Model.TotalTime" required />
                        <span asp-validation-for="TotalTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalCarbsServ" class="control-label"><h4>Total carbs per serving</h4></label>
                        <input type="number" asp-for="TotalCarbsServ" class="form-control" value="@Model.TotalCarbsServ" required />
                        <span asp-validation-for="TotalCarbsServ" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalFatServ" class="control-label"><h4>Total fat per serving</h4></label>
                        <input type="number" asp-for="TotalFatServ" class="form-control" value="@Model.TotalFatServ" required />
                        <span asp-validation-for="TotalFatServ" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalCaloriesServ" class="control-label"><h4>Total calories per serving</h4></label>
                        <input type="number" asp-for="TotalCaloriesServ" class="form-control" value="@Model.TotalCaloriesServ" required />
                        <span asp-validation-for="TotalCaloriesServ" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label btn">Upload photo of dish</label>
                        <input type="file" name="ImageUrl" class="btn border" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label asp-for="VideoUrl" class="control-label">If you have a YouTube video associated with the recipe.  Right click on your playing video and select the "<span style="color:deepskyblue">Copy video URL</span>" option and paste it here. <br /><span style="color:red;">WARNING do NOT select the "Copy video URL at current time" option or the video will not play.</span></label>
                        <input asp-for="VideoUrl" class="form-control" value="@Model.VideoUrl" />
                        <span asp-validation-for="VideoUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label style="font-size:20px;" asp-for="IncludeSocialMediaLinks" class="control-label">Include Your Social Media Links</label>
                        <input asp-for="IncludeSocialMediaLinks" class="form-control" style="width:calc(1.5em + .75rem + 2px);" />
                        <span asp-validation-for="IncludeSocialMediaLinks" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn border" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="MyRecipes">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
