@model KetoRecipies.Models.Recipe

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="container">
    <div class="card-deck">
        <div class="card card text-center mb-1 row">
            <div class="card-body text-center parent col-sm">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="ID" type="hidden" value="@Model.ID" class="form-control" required/>
                        <span asp-validation-for="ID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="UserId" type="hidden" value="@Model.UserId" class="form-control" required/>
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Label" class="control-label"></label>
                        <input asp-for="Label" class="form-control" value="@Model.Label" required/>
                        <span asp-validation-for="Label" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ingridients" class="control-label"></label>
                        <textarea asp-for="Ingridients" class="form-control textEdit" value="@Model.Ingridients" required></textarea>
                        <span asp-validation-for="Ingridients" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Instructions" class="control-label"></label>
                        <textarea asp-for="Instructions" class="form-control textEdit" value="@Model.Instructions" required></textarea>
                        <span asp-validation-for="Instructions" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Source" class="control-label"></label>
                        <input asp-for="Source" class="form-control" value="@Model.Source" required/>
                        <span asp-validation-for="Source" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Yield" class="control-label"></label>
                        <input asp-for="Yield" class="form-control" value="@Model.Yield" required/>
                        <span asp-validation-for="Yield" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalTime" class="control-label"></label>
                        <input asp-for="TotalTime" class="form-control" value="@Model.TotalTime" required/>
                        <span asp-validation-for="TotalTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalCarbsServ" class="control-label"></label>
                        <input asp-for="TotalCarbsServ" class="form-control" value="@Model.TotalCarbsServ" required/>
                        <span asp-validation-for="TotalCarbsServ" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalFatServ" class="control-label"></label>
                        <input asp-for="TotalFatServ" class="form-control" value="@Model.TotalFatServ" required/>
                        <span asp-validation-for="TotalFatServ" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TotalCaloriesServ" class="control-label"></label>
                        <input asp-for="TotalCaloriesServ" class="form-control" value="@Model.TotalCaloriesServ" required/>
                        <span asp-validation-for="TotalCaloriesServ" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label">Upload Image</label>
                        <input type="file" name="ImageUrl" class="btn btn-outline-secondary" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VideoUrl" class="control-label"></label>
                        <input asp-for="VideoUrl" class="form-control" value="@Model.VideoUrl" />
                        <span asp-validation-for="VideoUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
