@model KetoRecipies.Models.Recipe

@{
    ViewData["Title"] = "AdminDeleteRecipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AdminDeleteRecipe</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingridients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingridients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instructions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instructions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yield)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yield)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCarbsServ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCarbsServ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalFatServ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalFatServ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCaloriesServ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCaloriesServ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VideoUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VideoUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LikeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LikeCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisLikeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisLikeCount)
        </dd>
    </dl>
    
    <form asp-action="AdminDeleteRecipe2">
        <input type="hidden" asp-for="ID" />
        @if (TempData["searchString"] != null)
        {
            <input name="searchString" type="hidden" value="@TempData["searchString"].ToString()" />
        }
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
