@model IEnumerable<KetoRecipies.Models.Recipe>

@{
    ViewData["Title"] = "ManageRecipes";
}

<form asp-action="ManageRecipes" method="get" class="card card-sm mb-3 mt-3">
    <div class="card-body row no-gutters align-items-center">
        <div class="col">
            <input name="SearchString" class="form-control" type="search" placeholder="Name or Ingridients" aria-label="Search">
        </div>
        <div class="col-auto">
            <button class="btn menu-right-btn border" type="submit" value="Search">Search</button>
        </div>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <a id="@item.Label"></a>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" style="width:100px; height:auto;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoUrl)
                </td>
                <td>
                    <a id="@item.Label"></a>
                    <form asp-action="AdminEditRecipe" asp-route-id="@item.ID">
                        <button type="submit" class="btn border">Edit</button>
                    </form>
                    <hr />
                    <form asp-action="AdminDeleteRecipe" asp-route-id="@item.ID">
                        @if (TempData["searchString"] != null)
                        {
                            <input name="searchString" type="hidden" value="@TempData["searchString"].ToString()" />
                        }
                        <button type="submit" class="btn border">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
