@model IEnumerable<KetoRecipies.Models.Recipe>

@{
    ViewData["Title"] = "ManageRecipes";
}

<h1>ManageRecipes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VideoUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Label)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" style="width:100px; height:auto;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VideoUrl)
            </td>
            <td>
                <a id="@item.Label"></a>
                <a asp-action="AdminEditRecipe" asp-route-id="@item.ID">Edit</a>
                <hr />
                <a asp-action="AdminDeleteRecipe" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
