@model IEnumerable<KetoRecipies.Models.Favorite>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<form asp-action="Favorite" method="get" class="card card-sm mb-3 mt-3">
    <div class="card-body row no-gutters align-items-center">
        <div class="col">
            <input name="SearchString" class="form-control" type="search" placeholder="Name or Ingridients" aria-label="Search">
        </div>
        <div class="col-auto">
            <button class="btn menu-right-btn border" type="submit" value="Search"><i style="color:black;" class="fa mr-1 fa-search"></i>Search</button>
        </div>
    </div>
</form>
<h4 class="mb-3">@Model.Count() Recipes</h4>
<div class="container row ml-0">
    @{
        int counter = 0;
    }
    @foreach (var item in Model)
    {
        <a id="@(counter++)"></a>
        <div class="card-deck col">
            <div class="card text-center mb-3" style="width: 20rem;">
                @if (item.Recipe.SourceUrl != null)
                {
                    <a href="@item.Recipe.SourceUrl"><img src="@item.Recipe.ImageUrl" alt="@item.Recipe.Label" class="card-img-top" /></a>
                }

                @if (item.Recipe.SourceUrl == null)
                {
                    <a asp-action="Details" asp-route-id="@item.ID"><img src="@item.Recipe.ImageUrl" alt="@item.Recipe.Label" class="card-img-top" /></a>
                }
                <div class="card-body" style="align-self:center; width: 20rem;">

                    @if (item.Recipe.SourceUrl != null)
                    {

                        <a class="mt-2" href="@item.Recipe.SourceUrl" target="_blank">
                            <h5 class="card-header text-center" style="background-color:white; font-weight:bold;">
                                @item.Recipe.Label
                            </h5>
                        </a>

                    }
                    @if (item.Recipe.SourceUrl == null)
                    {

                        <a class="mt-2" asp-action="Details" asp-route-id="@item.Recipe.ID">
                            <h5 class="card-header text-center" style="background-color:white; font-weight:bold;">
                                @item.Recipe.Label
                            </h5>
                        </a>

                    }
                    <hr />
                    <h6><span style="font-weight:bold;">Nutrient Facts Per Serving:</span></h6>
                    <p>Calories: @item.Recipe.TotalCaloriesServ, Carbs: @item.Recipe.TotalCarbsServ, Fat: @item.Recipe.TotalFatServ</p>
                    <hr />
                    <form asp-action="Remove" method="post">
                        <input type="hidden" name="eleId" value="@counter" />
                        <input name="Id" type="hidden" value="@item.ID" />
                        <input name="count" type="hidden" value="@Model.Count()" />
                        <button type="submit" class="btn border"><i class="fas mr-2 fa-trash-alt"></i>Remove From Favorites</button>
                    </form>
                    <h5 class="card-title mt-2">
                        By: <a asp-action="Favorite" asp-route-SearchString="@item.Recipe.Source">@item.Recipe.Source</a>
                    </h5>
                    <div class="card-footer text-muted" style="bottom:1px;">
                        <h5><i style="color:deepskyblue;" class="fa mr-1 fa-thumbs-up"></i>@item.Recipe.LikeCount | <i style="color:deepskyblue;" class="fa mr-1 fa-thumbs-down"></i>@item.Recipe.DisLikeCount</h5>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
