@model IEnumerable<KetoRecipies.Models.Favorite>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<form asp-action="Favorite" method="get" class="card card-sm mb-3 mt-3">
    <div class="card-body row no-gutters align-items-center">
        <div class="col">
            <input name="SearchString" class="form-control" type="search" placeholder="Name or Ingridients" aria-label="Search">
        </div>
        <div class="col-auto">
            <button class="btn menu-right-btn border" type="submit" value="Search">Search</button>
        </div>
    </div>
</form>
<h5 class="mb-3"># of Recipes: @Model.Count()</h5>
<div class="container row ml-0">
    @{
        int counter = 0;
    }
    @foreach (var item in Model)
    {
        <a id="@(counter++)"></a>
        <div class="card-deck col">
            <div class="card text-center mb-3" style="width: 20rem;">
                <img src="@item.Recipe.ImageUrl" class="card-img-top" />
                <div class="card-body text-center" style="align-self:center; width: 20rem;">
                    <h6 class="card-header" style="font-weight:bold; background-color:white;">
                        @item.Recipe.Label
                    </h6>
                    @if (item.Recipe.SourceUrl != null)
                    {
                        <p class="card-subtitle mt-2">
                            <span style="font-weight:bold;">See Full Details:</span> <a href="@item.Recipe.SourceUrl" target="_blank">Click Here</a>
                        </p>
                    }
                    @if (item.Recipe.SourceUrl == null)
                    {
                        <p class="card-subtitle mt-2">
                            <span style="font-weight:bold;">See Full Details:</span> <a asp-action="Details" asp-route-id="@item.Recipe.ID">Click Here</a>
                        </p>
                    }
                    <hr />
                    <p><span style="font-weight:bold;">Nutrient Facts Per Serving:</span></p>
                    <p>Calories: @item.Recipe.TotalCaloriesServ, Carbs: @item.Recipe.TotalCarbsServ, Fat: @item.Recipe.TotalFatServ</p>
                    <hr />
                    <form asp-action="Remove" method="post">
                        <input type="hidden" name="eleId" value="@counter" />
                        <input name="Id" type="hidden" value="@item.ID" />
                        <input name="count" type="hidden" value="@Model.Count()" />
                        <button type="submit" class="btn border">Remove From Favorites</button>
                    </form>
                    <p class="card-title mt-2">
                        By: @item.Recipe.Source
                    </p>
                    <p>Likes: @item.Recipe.LikeCount | Dislikes: @item.Recipe.DisLikeCount</p>
                </div>
            </div>
        </div>
    }
</div>
