@using Microsoft.AspNetCore.Identity
@using KetoRecipies.Models.Interfaces
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IDbList dbList
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KetoRecipies</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/lib/Trumbowyg-master/dist/ui/trumbowyg.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body class="justify-content-center bg-light">
    <header>
        <nav class="navbar navbar-expand-lg shadow-none navbar-dark bg-dark">
            <a class="navbar-brand shadow-none ml-3")" asp-area="" asp-controller="Home" asp-action="Index"><h4>KetoRecipies.com</h4></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#nav1" aria-controls="nav1" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"></div>
            <div class="collapse navbar-collapse" id="nav1">
                <ul class="navbar-nav ml-auto">
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light mr-auto" asp-area="Identity" asp-page="/Account/Register"><h3>Register</h3></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light mr-auto" asp-area="Identity" asp-page="/Account/Login"><h3>Login</h3></a>
                        </li>

                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light text-center" href="~/Admin/Index">Application Info</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light text-center" href="~/Admin/ManageRecipes">Manage Recipes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light text-center" href="~/Admin/ManageUsers">Manage Users</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Favorite" ? "nav-link text-light mr-auto active" : "nav-link text-light mr-auto ")" href="~/Favorite/Favorite"><h4>My Favorites</h4></a>
                        </li>
                        <li class="nav-item">
                            <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "MyRecipes" ? "nav-link text-light mr-auto active" : "nav-link text-light mr-auto")" href="~/Home/MyRecipes"><h4>My Recipes</h4></a>
                        </li>
                        <form class="form-inline my-2 my-lg-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-btn btn border">Logout</button>
                        </form>
                    }
                </ul>
            </div>
        </nav>
        <h3>Keep this site add free! <a>Click Here to Donate</a></h3>
    </header>
    @{
        var randomRecipes = dbList.GetRandomRecipes();
    }
    <div class="container mb-5">
        <div class="container-fluid">
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                        <img src="@randomRecipes[0].ImageUrl" class="img-fluid mx-auto d-block overlay" alt="img1"/> 
                     
                        @if (@randomRecipes[0].SourceUrl != null)
                        {
                            <a href="@randomRecipes[0].SourceUrl" target="_blank">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 style="font-weight:bold;">@randomRecipes[0].Label</h5>
                                </div>
                            </a>
                        }
                        @if (@randomRecipes[0].SourceUrl == null)
                        {
                            <a asp-action="Details" asp-route-id="@randomRecipes[0].ID">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 style="font-weight:bold;">@randomRecipes[0].Label</h5>
                                </div>
                            </a>
                        }
                    </div>
                    @for (int i = 1; i < randomRecipes.Count(); i++)
                    {
                    <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                        <img src="@randomRecipes[i].ImageUrl" class="img-fluid mx-auto d-block overlay" alt="img2"/>
                        @if (@randomRecipes[i].SourceUrl != null)
                        {
                            <a href="@randomRecipes[i].SourceUrl" target="_blank">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 style="font-weight:bold;">@randomRecipes[i].Label</h5>
                                </div>
                            </a>
                        }
                        @if (@randomRecipes[i].SourceUrl == null)
                        {
                            <a asp-action="Details" asp-route-id="@randomRecipes[i].ID">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5 style="font-weight:bold;">@randomRecipes[i].Label</h5>
                                </div>
                            </a>
                        }
                    </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="page-footer font-small special-color-dark pt-4">
        <a class="nav-link text-light mr-auto" href="~/Home/Privacy">Privacy Policy</a>
        © 2019 Copyright:
        <a class="mb-3">KetoRecipies.com</a> |
        <a href="~/Home/ContactUs">Contact Us</a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/lib/Trumbowyg-master/dist/trumbowyg.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
